<div style="text-align: right;">
  <h4 style="display: inline-block; padding-right: 1.5%">Hello, <%= user.username %></h4>
  <form action="/logout" method="POST" style="display: inline;">
    <button type="submit">Log out</button>
  </form>
</div>